[submodule "Dependencies/Commander"]
	path = Dependencies/Commander
	url = https://github.com/kylef/Commander.git
[submodule "Dependencies/FBSimulatorControl"]
	path = Dependencies/FBSimulatorControl
	url = https://github.com/plu/FBSimulatorControl.git
