#include "../config/shared.xcconfig"

ARCHS = i386 x86_64
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)
EXECUTABLE_EXTENSION = dylib
FRAMEWORK_SEARCH_PATHS = $(PLATFORM_DIR)/Developer/Library/Frameworks
MACH_O_TYPE = mh_dylib
ONLY_ACTIVE_ARCH = NO
OTHER_LDFLAGS = -ObjC
SDKROOT = iphoneos
SKIP_INSTALL = YES
VALID_ARCHS = i386 x86_64
